*
{
  box-sizing: border-box;
}

@media (min-width: 51px) and (max-width: 765px) {

  .home {
    background-image: url(event2bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
  
  .namelogo {
    display: flex;
    text-align: center;
    background-color: mediumpurple;
  }
  img {
    width: 10%;
  }

  #cname {
    width: 100%;
    font-size: medium;
    flex-wrap: wrap;
    text-align: center;
  }

  #annual {
    text-align: center;
    font-style: italic;
    color: lightseagreen;
    font-size: medium;
  }

  nav ul {
    padding: 0%;
  }

  nav ul li {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
  }
  nav ul li a {
    text-decoration: none;
    color: maroon;
    background-color: mistyrose;
    font-size: small;
  }

  .nav ul li a:hover {
    text-decoration-line: underline;
  }

  #guestname {
    text-align: center;
    font-size: medium;
    color: rgb(21, 0, 255);
  }

  .guestwelcome {
    border: 3px solid red;
    padding: 20px;
    text-align: center;
  }

  #guestpic {
    border: 3px solid red;
    width: 50%;
  }

  #welcomingpara {
    border: 3px solid red;
    margin: 0px;
    width: 100%;
    text-align: center;
  }

  #welcomingpara p {
    color: seagreen;
    font-size: small;
    font-weight: bold;
  }

  .venuetime {
    padding: 0px;
    margin: 0px;
    text-align: center;
  }

  .venuetime p {
    text-align: center;
    font-size: medium;
  }

  .venuetime b {
    color: blue;
  }

  footer {
    text-align: center;
    background-color: burlywood;
    font-size: small;
    padding: 0%;
  }
}
